REDIS_HOST=redis
REDIS_PORT=6379
REDIS_INPUT_STREAM=stream:vision:frames_to_process
REDIS_OUTPUT_STREAM=stream:vision:access_events
REDIS_CONSUMER_GROUP_AI=ai_service_group
REDIS_CONSUMER_GROUP_BE=backend_group

QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_COLLECTION=face_vectors
QDRANT_MATCH_THRESHOLD=0.82

MIN_FACE_SIZE=96
MIN_IMAGE_SIZE=128
IMAGE_FETCH_TIMEOUT_SECONDS=10
