# API URLs
AI_SERVICE_URL=http://localhost:8001
BACKEND_URL=http://localhost:8001

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=your_minio_access_key_here
MINIO_SECRET_KEY=your_minio_secret_key_here
MINIO_SECURE=False
MINIO_BUCKET_NAME=face-recognition

# Camera Configuration
CAMERA_SOURCES=rtsp://localhost:8554/mystream
MOTION_THRESHOLD=0.05
FRAME_INTERVAL=0.1